aiohttp==3.4.4
APScheduler==3.5.3
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==18.2.0
Automat==0.7.0
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
Click==7.0
constantly==15.1.0
cryptography==2.3.1
cssselect==1.0.3
demjson==2.2.4
docopt==0.6.2
Flask==1.0.2
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
itsdangerous==0.24
Jinja2==2.10
lxml==4.2.5
MarkupSafe==1.0
multidict==4.4.2
parsel==1.5.0
Pillow==5.2.0
pipreqs==0.4.9
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pymongo==3.7.2
PyMySQL==0.9.2
pyOpenSSL==18.0.0
pytz==2018.5
pywin32==223
queuelib==1.5.0
redis==2.10.6
requests==2.19.1
Scrapy==1.5.1
scrapyrt==0.10
selenium==3.14.1
service-identity==17.0.0
six==1.11.0
Twisted==18.7.0
tzlocal==1.5.1
urllib3==1.23
w3lib==1.19.0
Werkzeug==0.14.1
yarg==0.1.9
yarl==1.2.6
zope.interface==4.5.0
